# Important OpenStack and global  vars

auth_url="{ip of API}" # Example: auth_url="http://10.2.95.100:5000/v2.0"
tenant_name="{name of your project}"
tenant_id="{id of your project – from step 1}"
username="{account you created with members privileges}"
password="{password to account}"
jumpbox_public_key_path="{public jumpbox key}"
jumpbox_key_path="{public jumpbox key}"
cdh_key_path="{public jumpbox key}"
cdh_public_key_path="{public jumpbox key}"
floating_ip_pool="{name of network}"
network_external_id="{id of network}"
ansible_repo_path="."
cf_admin_pass="mysupersecretpassword"

# Default settings, change if needed

region="RegionOne"
ubuntu_image_name="ubuntu-trusty" 
centos_image_name="centos-6" 

http_proxy="{set proxy}" # comment if not needed
https_proxy="{set proxy}" # comment if not needed
dns1="{dns server}" # comment if not needed
dns2="{dns server}" # comment if not needed

# How long should we wait before timing out on openstack VM creation/deletion? (seconds)
#os_timeout=1200

# Should we use offline buildpack for java?
#offline_java_buildpack="true"

# What resource pools/instance sizes should each job use? 'large', 'medium', 'small', 'runner'
#backbone_resource_pool = "large"

#data_resource_pool = "large"
#public_haproxy_resource_pool = "small"
#private_haproxy_resource_pool = "small"
#api_resource_pool = "medium"
#services_resource_pool = "medium"
#health_resource_pool = "medium"
#runner_resource_pool = "runner"
worker_size=3 # set worker size you want to have for cloudera
master_size=3 # set master size you want to have for cloudera

# Control the cloudfoundry deployment size
# Values are 'small', 'med', 'med-ha', and 'big-ha'
# See https://github.com/cloudfoundry-community/terraform-aws-cf-install/blob/master/variables.tf for how
# those sizes inform instance counts
deployment_size="small"

# Should I install docker?
#install_docker_services="true"

# Should I install logsearch?
install_logsearch="false"

# Control the domain for base CF:
#cf_domain="XIP" # Use "XIP" for an xip.io based domain, or provide your own domain here

# Prevent Host Header spoofing from hitting internal APIs:
#private_cf_domains="my.internal"

# Do not change, expert mode required

cf_release_version="211" #211 is currently the only supported version
cf_boshworkspace_version="master" #we need to take the head of the repository because of needed fixes
docker_boshworkspace_version="master"
